#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

table,
td {
	border: 1px solid;
}

table {
	border-collapse: collapse;
	border: 1px solid;
	margin-top: 12px;
}

tbody tr:nth-child(odd) {
	background-color: #fff;
}

tbody tr:nth-child(even) {
	background-color: #eee;
}

.table-parsed tbody tr:nth-child(2) {
	background-color: #ec9c66ef;
}

tbody tr:not(:nth-child(2)):hover {
	background-color: #ddd;
}

.table-response thead tr {
	background-color: #ec9c66ef;
}

.action-button {
	cursor: pointer;
	margin-left: 12px;
	border: 1px solid #ccc;
	padding: 2px 12px;
	border-radius: 5px;
}
.action-button:hover {
	background-color: #fff;
}

.action-button.edit {
	color: #f8ce5bef;
}

.action-button.delete {
	color: #f84803ef;
}

.actions {
	padding: 7px;
}

thead tr td {
	padding: 3px 7px;
}
